body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #b2d8d8;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #008080;
    color: #fff;
    padding: 0.5rem 2rem;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 5px;
}

.home-link {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.converter-container, .about-container {
    background-color: #fff;
    padding: 1.5rem;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

.about-container {
    max-width: 600px;
}

select, input, button {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.unit-selectors {
    display: flex;
    gap: 1rem;
}

.unit-selectors select {
    flex: 1;
}

button {
    background-color: #008080;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    width: 50%;
}

button:hover {
    background-color: #004c4c;
}

#result {
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.2rem;
}

footer {
    background-color: #008080;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-button {
    display: inline-block;
    margin-bottom: 3px; /* Reduzido de 5px para 3px */
    padding: 5px 10px;
    background-color: #fff;
    color: #008080;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer p {
    margin: 0; /* Remove a margem padrão do parágrafo */
}

@media (max-width: 600px) {
    .converter-container, .about-container {
        padding: 1rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    .logo {
        height: 40px;
    }
}
